/* General Dashboard Styling */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px; /* Set a maximum width */
  margin: 0 auto;
  padding: 20px;
  background-color: #1b1b1b; /* Ensures the main background is uniform */
}

/* Balance Section */
.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.balance-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #f8f8f8;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.image {
  width: 300px;
  margin-top: 20px;
}

/* Level Container */
.level-container {
  width: 80%;
  margin: 10px auto 10px auto; /* Reduced margin-top for closer positioning to balance section */
  text-align: center;
}

.level-text {
  font-size: 1.2rem;
  color: #f8f8f8;
}

/* Progress Bar Styling */
.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(45deg, #007bff, #9b59b6);
  transition: width 0.3s ease-in-out;
  border-radius: 10px 0 0 10px;
}
