.swap-page {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

.swap-container {
  display: inline-block;
  padding: 20px;
  background-color: #333;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
  max-width: 400px;
  width: 100%;
  margin-top: 150px;
}

.token-select {
  margin: 10px 0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
